.cv-mini:hover .copy-button {
    z-index: 1110;
}

.copy-button {
    margin: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    padding: 5px 15px;
    border: 1px solid aquamarine;
    border-radius: 10px;
}